* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}
body{
    background-color:darkgoldenrod;
    border: 10px dashed black;
    margin: 5px 10px 5px 10px;

}
/* body:before{
    content: " ";
    position: absolute;
    z-index: 1;
    top:20px;
    left:25px;
    right:25px;
    bottom:25px;
    border:5px solid brown;
    border-radius: 2vw; 
} */

.wrapper {
    display: flex;
    width: 1110px;
    margin: auto;
    margin-left: 15vw;
    margin-top: 10vh;

}

p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}

.containers {
    margin-left: -100px;
    position: relative;
    height: 370px;
    width: 370px;
}

.container3 {
    margin-left: 0;
}

canvas:nth-child(2) {
    transform: rotate(-90deg);
    position: absolute;
}

.Numbers {
    position: absolute;
    display: flex;
    color: #4CE8FF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.indicators {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 6.5em;
}

.buttons {
    min-width: 1300px;
    margin-left: -200px;
    text-align: center;
}

button {
    width: 100px;
    border-radius: 5%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    padding: 8px;
    margin: 5px;
    background-color: white;
    border: solid 3px dimgray;
    color: dimgray;
    transition: all 0.2s ease-in-out;
}

button:hover {
    border: solid 3px #4CE8FF;
    color: #005b7f;
}